<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_ft-uKs77M4vQDuv9zkP8AD4l2m_h8vA</string>
	<key>GCM_SENDER_ID</key>
	<string>166891242416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBase</string>
	<key>PROJECT_ID</key>
	<string>mobinet-integrate</string>
	<key>STORAGE_BUCKET</key>
	<string>mobinet-integrate.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166891242416:ios:874c46dbaa77545e5c4c75</string>
</dict>
</plist>